.parag{
    background-color: rgba(182, 182, 182, 0.188);
    width: 95vw;
    height: 100vh;
    font-family: 'georgia';
    font-size:1.5rem;
    padding: 15%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}
.header {
    font-size: 2rem;
    font-family: 'georgia';
    font-weight: bold;
    text-align: center;
  }