.nav-bar {
    list-style-type: none;
    width: 100vw;
    height: 3.1rem;
    display:grid ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(250, 235, 215, 0);

  }
  .search{

  position: absolute;
  left: 20rem;
 
  }
  
  li {
    float: left;
  }
  .login{
    float: right;
  }
  li a {
    display: block;
    color: rgb(55, 53, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }